@import "tailwindcss";

@theme {
  --color-primary: #111827; /* Darker text */
  --color-secondary: #6366F1; /* Indigo/purple for buttons & branding */
  --color-tertiary: #F9FAFB; /* Light sidebar background */
  --color-neutral: #6B7280; /* Gray for icons/secondary text */
  --color-surface: #FFFFFF; /* White for main content area */
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply font-sans bg-tertiary text-primary antialiased;
  }
}
