@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-secondary: #3B82F6;
  --color-tertiary: #F8FAFC;
  --color-neutral: #64748B;
  --font-sans: "Manrope", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply font-sans bg-tertiary text-primary antialiased;
  }
}
